@import "~scss/_mixins";

.popups {
	.popup.popupSupportAnytype {
		.innerWrap { width: 424px; padding: 32px; text-align: center; }

		.iconWrapper { display: flex; width: 72px; height: 72px; border-radius: 50%; margin: 0px auto 20px; align-items: center; justify-content: center; background: var(--color-shape-highlight-medium); }
		.iconWrapper {
			.icon.heart { width: 36px; height: 36px; color: var(--color-system-accent-100); }
		}

		.title { @include text-header3; margin-bottom: 10px; }
		.label { margin-bottom: 24px; color: var(--color-text-secondary); }

		.buttons { display: flex; flex-direction: column; gap: 10px 0px; align-items: stretch; }
		.buttons {
			.button { width: 100%; justify-content: center; }
		}
	}
}
