@import "~scss/_mixins";

.menus {
	.menu.menuSupportAnytype { width: 256px; }
	.menu.menuSupportAnytype {
		.head { display: flex; align-items: flex-start; gap: 0px 8px; padding: 8px 16px 4px 16px; }
		.head {
			.icon.heart { flex-shrink: 0; }

			.text { flex-grow: 1; display: flex; flex-direction: column; overflow: hidden; padding-top: 1px; }
			.text {
				.label.tag { @include text-small; font-weight: 500; line-height: 16px; color: var(--color-system-destructive-100); }
				.label { @include text-common; @include text-overflow-nw; color: var(--color-text-primary); }
			}
		}

		.label.description {
			display: block; padding: 0px 16px 8px 16px;
			@include text-common; color: var(--color-text-secondary); line-height: 20px;
		}

		.items { display: flex; flex-direction: column; }
		.items {
			.item { display: flex; align-items: center; gap: 0px 6px; }
			.item {
				.icon { flex-shrink: 0; position: relative; z-index: 2; margin: 0px; }
				.icon.info > svg { width: 16px !important; height: 16px !important; }

				.label {
					flex-grow: 1; position: relative; z-index: 2;
					@include text-common; @include text-overflow-nw; color: var(--color-text-primary);
				}
			}
		}
	}
}
